In [1]:
#imports
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.ml.feature import Tokenizer, HashingTF, IDF 
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.sql.functions import col

In [2]:
#start SPark Content
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
sc = SparkSession.builder.appName("yelp").getOrCreate()

In [4]:
#"review_id","user_id","business_id","stars","date","text","useful","funny","cool"

#1. Clean the dataset

df = spark.read.csv( "Yelp_review.csv", header=True)

In [80]:
#business_id: string (nullable = true)
# |-- weekday: string (nullable = true)
# |-- hour: string (nullable = true)
# |-- checkins: string (nullable = true)
df1 =spark.read.csv("yelp_checkin_1.csv", header=True)

In [6]:
df.printSchema()
df.show()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)

+--------------------+--------------------+--------------------+-----+----------+--------------------+------+-----+----+
|           review_id|             user_id|         business_id|stars|      date|                text|useful|funny|cool|
+--------------------+--------------------+--------------------+-----+----------+--------------------+------+-----+----+
|vkVSCC7xljjrAI4UG...|bv2nCi5Qv5vroFiqK...|AEx2SYEUJmTxVVB18...|    5|2016-05-28|Super simple plac...|  null| null|null|
|Staff was very he...|                   0|                   0|    0|      null|                null|  null| null|null|
|n6QzIUObkYshz4dz2...|bv2nCi5Qv5vroFiqK...|VR6GpWIda3SfvPC-l...|    5|2016-05-28|Small unassuming ...|  null| null|null|
|We had their beef...|                null|                null| null|      null|                null|  null| null|null|
|A bit outside of ...|                   0|                   0|    0|      null|                null|  null| null|null|
|MV3CcKScW05u5LVfF...|bv2nCi5Qv5vroFiqK...|CKC0-MOWMqoeWf6s-...|    5|2016-05-28|Lester's is locat...|  null| null|null|
|The smoked meat i...|                   0|                   0|    0|      null|                null|  null| null|null|
|IXvOzsEMYtiJI0CAR...|bv2nCi5Qv5vroFiqK...|ACFtxLv8pGrrxMm6E...|    4|2016-05-28|Love coming here....|  null| null|null|
|The food speaks f...| so good. Burgers...| the regular is a...| null|      null|                null|  null| null|null|
|Getting the Cajun...|                   0|                   0|    0|      null|                null|  null| null|null|
|L_9BTb55X0GDtThi6...|bv2nCi5Qv5vroFiqK...|s2I_Ni76bjJNK9yG6...|    4|2016-05-28|Had their chocola...|  null| null|null|
|If you're looking...|                   0|                   0|    0|      null|                null|  null| null|null|
|HRPm3vEZ_F-33TYVT...|_4iMDXbXZ1p1ONG29...|8QWPlVQ6D-OExqXoa...|    5|2014-09-24|Cycle Pub Las Veg...|     1|    0|   0|
|ymAUG8DZfQcFTBSOi...|u0LXt3Uea_GidxRW1...|9_CGhHMz8698M9-Pk...|    4|2012-05-11|Who would have gu...|  null| null|null|
|Not quite the sam...| this is the next...|                null| null|      null|                null|  null| null|null|
|So far the only i...| chicken & vegeta...|                null| null|      null|                null|  null| null|null|
| Next time I go back| I'm going to try...|                   0|    0|         2|                null|  null| null|null|
|8UIishPUD92hXtScS...|u0LXt3Uea_GidxRW1...|gkCorLgPyQLsptTHa...|    4|2015-10-27|Always drove past...|  null| null|null|
|                Cute| quaint coffee sh...|                null| null|      null|                null|  null| null|null|
|BF ordered an ice...|                   1|                   0|    0|      null|                null|  null| null|null|
+--------------------+--------------------+--------------------+-----+----------+--------------------+------+-----+----+
only showing top 20 rows

In [8]:

""" |-- business_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- review_count: string (nullable = true)
 |-- is_open: string (nullable = true)
 |-- categories: string (nullable = true)"""
df2 =spark.read.csv("yelp_business.csv", header=True)

In [9]:

df2.printSchema()
df2.show()

root
 |-- business_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- review_count: string (nullable = true)
 |-- is_open: string (nullable = true)
 |-- categories: string (nullable = true)

+--------------------+--------------------+------------------+--------------------+--------------+-------------+-----------+-------------+--------------+------------+------------+-------+--------------------+
|         business_id|                name|      neighborhood|             address|          city|        state|postal_code|     latitude|     longitude|       stars|review_count|is_open|          categories|
+--------------------+--------------------+------------------+--------------------+--------------+-------------+-----------+-------------+--------------+------------+------------+-------+--------------------+
|FYWN1wneV18bWNgQj...|"""Dental by Desi...|              null| """4855 E Warner Rd|     Ste B9"""|    Ahwatukee|         AZ|        85044|    33.3306902|-111.9785992|         4.0|     22|                   1|
|He-G7vWjzVUysIKrf...|"""Stephen Szabo ...|              null|"""3101 Washingto...|      McMurray|           PA|      15317|   40.2916853|   -80.1048999|         3.0|          11|      1|Hair Stylists;Hai...|
|KQPW8lFf1y5BT2Mxi...|"""Western Motor ...|              null|  """6025 N 27th Ave|      Ste 1"""|      Phoenix|         AZ|        85017|    33.5249025|-112.1153098|         1.5|     18|                   1|
|8DShNS-LuFqpEWIp0...|"""Sports Authori...|              null|"""5000 Arizona M...|    Ste 435"""|        Tempe|         AZ|        85282|    33.3831468|-111.9647254|         3.0|      9|                   0|
|PfOCPjBrlQAnz__NX...|"""Brick House Ta...|              null|  """581 Howe Ave"""|Cuyahoga Falls|           OH|      44221|   41.1195346|   -81.4756898|         3.5|         116|      1|American (New);Ni...|
|o9eMRCWt5PkpLDE0g...|       """Messina"""|              null|"""Richterstr. 11"""|     Stuttgart|           BW|      70567|      48.7272|       9.14795|         4.0|           5|      1| Italian;Restaurants|
|kCoE3jvEtg6UVz5SO...|    """BDJ Realty"""|         Summerlin|  """2620 Regatta Dr|    Ste 102"""|    Las Vegas|         NV|        89128|      36.20743|  -115.26846|         4.0|      5|                   1|
|OD2hnuuTJI9uotcKy...|   """Soccer Zone"""|              null|"""7240 W Lake Me...|      Ste 4"""|    Las Vegas|         NV|        89128|    36.1974844|-115.2496601|         1.5|      9|                   1|
|EsMcGiZaQuG1OOvL9...|"""Any Given Sund...|              null|"""2612 Brandt Sc...|       Wexford|           PA|      15090|40.6151022445|-80.0913487465|         5.0|          15|      1|Coffee & Tea;Ice ...|
|TGWhGNusxyMaA4kQV...|"""Detailing Gone...|              null|                """"|     Henderson|           NV|      89014|36.0558252127| -115.04635039|         5.0|           7|      1|Automotive;Auto D...|
|XOSRcvtaKc_Q5H1SA...|"""East Coast Cof...|              null|"""737 West Pike ...|       Houston|           PA|      15342|40.2415480142|-80.2128151059|         4.5|           3|      0|Breakfast & Brunc...|
|Y0eMNa5C-YU1RQOZf...|"""CubeSmart Self...|              null|"""2414 South Gil...|      Chandler|           AZ|      85286|   33.2717201|  -111.7912569|         5.0|          23|      1|Local Services;Se...|
|xcgFnd-MwkZeO5G2H...|"""T & T Bakery a...|   Markham Village|"""35 Main Street...|       Markham|           ON|    L3P 1X3|   43.8751774|   -79.2601532|         4.0|          38|      1|Bakeries;Bagels;Food|
|NmZtoE3v8RdSJEczY...|"""Complete Denta...|              null|"""107 Whitaker S...|     Homestead|           PA|      15120|   40.4014882|   -79.8879161|         2.0|           5|      1|General Dentistry...|
|fNMVV_ZX7CJSDWQGd...|"""Showmars Gover...|            Uptown|  """600 E 4th St"""|     Charlotte|           NC|      28202|   35.2216474|   -80.8393449|         3.5|           7|      1|Restaurants;Ameri...|
|l09JfMeQ6ynYs5MCJ...|"""Alize Catering"""|Yonge and Eglinton| """2459 Yonge St"""|       Toronto|           ON|    M4P 2H6|   43.7113993|   -79.3993388|         3.0|          12|      0|Italian;French;Re...|
|IQSlT5jGE6CCDhSG0...|"""T & Y Nail Spa"""|              null|"""8411 W Thunder...|   Unit 101"""|       Peoria|         AZ|        85381|    33.6086538|-112.2400118|         3.0|     20|                   1|
|b2I2DXtZVnpUMCXp1...|"""Meineke Car Ca...|              null|"""2518 Ironwood ...|   Sun Prairie|           WI|      53590|     43.18508|    -89.262047|         3.5|           9|      1|Tires;Oil Change ...|
|0FMKDOU8TJT1x87OK...|"""Senior's Barbe...|              null|"""13375 W McDowe...|      Goodyear|           AZ|      85395|    33.463629|   -112.347038|         5.0|          65|      1|Barbers;Beauty & ...|
|Gu-xs3NIQTj3Mj2xY...|"""Maxim Bakery &...|              null|"""9665 Bayview A...|   Unit 1-4"""|Richmond Hill|         ON|      L4C 9V4|    43.8675648| -79.4126618|         3.5|     34|                   1|
+--------------------+--------------------+------------------+--------------------+--------------+-------------+-----------+-------------+--------------+------------+------------+-------+--------------------+
only showing top 20 rows

In [10]:
df1.printSchema()
df1.show()

root
 |-- business_id: string (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- checkins: string (nullable = true)

+--------------------+-------+-----+--------+
|         business_id|weekday| hour|checkins|
+--------------------+-------+-----+--------+
|3Mc-LxcqeguOXOVT_...|    Tue| 0:00|      12|
|SVFx6_epO22bZTZnK...|    Wed| 0:00|       4|
|vW9aLivd4-IorAfSt...|    Tue|14:00|       1|
|tEzxhauTQddACyqdJ...|    Fri|19:00|       1|
|CEyZU32P-vtMhgqRC...|    Tue|17:00|       1|
|9dn5pee_n2dWQfN57...|    Sun| 3:00|       5|
|6Zk5F7fsTr8n2CJTl...|    Wed| 1:00|       4|
|OE_IDW5w_W97sBcZv...|    Sat| 1:00|       1|
|gy5pr5bFAjOL5rERS...|    Sat|15:00|       1|
|r2-eAhGANXlcgQy89...|    Mon|19:00|       1|
|wiBxwslJAGDdZ2nmL...|    Mon|16:00|       1|
|08jURVR_eDvXq9scd...|    Sat|23:00|       1|
|BlWPjh2WuvQSlmYmg...|    Sun| 0:00|       1|
|6DO_2jivyxcL6SXGP...|    Wed|23:00|       1|
|wrJROwvVKHvdMVIZO...|    Thu|21:00|       3|
|uU8up3hGwW9qnzQD1...|    Fri| 0:00|       1|
|JHPq9KvMuJaC7CPAT...|    Sun|16:00|       1|
|vyzfT3_KzLi8WmInw...|    Thu| 9:00|       1|
|E4T0rQBJa0e4HIliB...|    Thu|23:00|       2|
|vuvnexwJzb1ydKLac...|    Mon|18:00|       1|
+--------------------+-------+-----+--------+
only showing top 20 rows

In [11]:
df

DataFrame[review_id: string, user_id: string, business_id: string, stars: string, date: string, text: string, useful: string, funny: string, cool: string]

In [12]:
#df = df.withColumnRenamed("stars", "label")
df = df.withColumn("label", df["stars"].cast("double"))
#df = df.where(col("label").isNotNull())
df = df.dropna(subset=['label', 'text', 'funny', 'cool',"useful"])
df.show()
df.printSchema()

+--------------------+--------------------+--------------------+-----+----------+--------------------+--------------------+--------------------+--------------------+-----+
|           review_id|             user_id|         business_id|stars|      date|                text|              useful|               funny|                cool|label|
+--------------------+--------------------+--------------------+-----+----------+--------------------+--------------------+--------------------+--------------------+-----+
|HRPm3vEZ_F-33TYVT...|_4iMDXbXZ1p1ONG29...|8QWPlVQ6D-OExqXoa...|    5|2014-09-24|Cycle Pub Las Veg...|                   1|                   0|                   0|  5.0|
|Ia-w-nR1FrlzsiuEi...|u0LXt3Uea_GidxRW1...|Eox_Qq74oaFZ-Yjth...|    3|2011-07-18|Service is really...|                   1|                   1|                   1|  3.0|
|hkyyWaX-EMiIkvyu1...|nsOf58RZjMTn8V94E...|djyIZW8gVNWby8wau...|    5|2017-08-23|Suzanne was able ...|                   0|                   0|                   0|  5.0|
|BF0ANB54sc_f-3_ho...|ssuXFjkH4neiBgwv-...|JlNeaOymdVbE6_bub...|    1|2014-08-09|We always go to t...|                   3|                   0|                   0|  1.0|
|DbLUpPT61ykLTakkn...|ssuXFjkH4neiBgwv-...|0Rni7ocMC_Lg2UH0l...|    1|2014-08-09|This place is alw...|                   6|                   0|                   0|  1.0|
|40sWchjx-4rQ273cb...|ssuXFjkH4neiBgwv-...|3uBrRcIhbhed1xftL...|    1|2015-08-23|Horrible customer...|                   5|                   0|                   0|  1.0|
|UXmBQNWMD1PBLDC_n...|xJbxpra6iyCsph35P...|0g7Pr8OWl_t_7DUeY...|    1|2014-02-03|I bought a groupo...|                   1|                   3|                   0|  1.0|
|QYw2OurOBplkQRCpY...|nOTl4aPC4tKHK35T3...|XCxxPZ3Lu5mwmIo7I...|    4|2016-01-24|This place is alw...|                   0|                   0|                   0|  4.0|
|udzzB55YAxWEfVmkc...|nOTl4aPC4tKHK35T3...|VTs4f6LnUMHD4ysOe...|    4|2012-07-08|Sometimes it feel...|                   1|                   0|                   0|  4.0|
|raUmEc0rdycXSRwXS...|nOTl4aPC4tKHK35T3...|g-OTq2Jb7FRP7cYDU...|    3|2012-04-15|I have since swit...|                   3|                   1|                   0|  3.0|
|cd5K0jPd7Gv29x_h1...|nOTl4aPC4tKHK35T3...|pOvTYClFgMm-wAXPW...|    2|2016-05-22|I have eaten at s...|                   1|                   0|                   0|  2.0|
|PRj0OFgJjN5ljpeDs...|nOTl4aPC4tKHK35T3...|6Q7-wkCPc1KF75jZL...|    2|2012-08-22|"Okay, so from wh...|          NOT Circus| Circus Manor Mot...| such as internet...|  2.0|
|f17tpJXCwTE0M137d...|nOTl4aPC4tKHK35T3...|zgQHtqX0gqMw1nlBZ...|    2|2013-10-19|"While I really e...|   greasy appetizers| this is the righ...| I can't stress e...|  2.0|
|-FV47bShEgvxQCoh9...|nOTl4aPC4tKHK35T3...|bKh66jlEqEKZZFkjW...|    4|2015-09-21|"Came here with m...| covered with fru...| which is your ba...|               toast|  4.0|
|iJ5iOBh7bMKMtF9j-...|nOTl4aPC4tKHK35T3...|GNEjlH_KssnJVRtqV...|    4|2011-12-20|"Our friends got ...| which I found to...| although other p...| but I can't reme...|  4.0|
|iX6GLmUf6W81zGaiZ...|nOTl4aPC4tKHK35T3...|L6R2Op88NkoG1EGxl...|    4|2014-10-17|A little on the p...|                   0|                   0|                   0|  4.0|
|iPqFD9u2K2KRK99tc...|nOTl4aPC4tKHK35T3...|h0TKP2PK0QaAqvqdI...|    4|2015-02-07|"Went here with m...| for such a small...|               clean| etc. Only proble...|  4.0|
|S0zj-QZbrbPmfBxpN...|nOTl4aPC4tKHK35T3...|lFPNibSaYC3Vq4PCG...|    3|2011-04-03|This is a newer l...|                   0|                   0|                   0|  3.0|
|Nr4t4NobdlKx9HLMl...|nOTl4aPC4tKHK35T3...|qOuoI7hvzBAzF1Y43...|    4|2016-12-18|Been here twice n...|                   0|                   0|                   0|  4.0|
|TaZPNqRUwK47VDE17...|nOTl4aPC4tKHK35T3...|5N8R7ALESZ30EoAzV...|    5|2016-10-17|Went in on a whim...|                   0|                   0|                   0|  5.0|
+--------------------+--------------------+--------------------+-----+----------+--------------------+--------------------+--------------------+--------------------+-----+
only showing top 20 rows

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)
 |-- label: double (nullable = true)

In [13]:
df = df.select('text', 'label')
df.show()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|Cycle Pub Las Veg...|  5.0|
|Service is really...|  3.0|
|Suzanne was able ...|  5.0|
|We always go to t...|  1.0|
|This place is alw...|  1.0|
|Horrible customer...|  1.0|
|I bought a groupo...|  1.0|
|This place is alw...|  4.0|
|Sometimes it feel...|  4.0|
|I have since swit...|  3.0|
|I have eaten at s...|  2.0|
|"Okay, so from wh...|  2.0|
|"While I really e...|  2.0|
|"Came here with m...|  4.0|
|"Our friends got ...|  4.0|
|A little on the p...|  4.0|
|"Went here with m...|  4.0|
|This is a newer l...|  3.0|
|Been here twice n...|  4.0|
|Went in on a whim...|  5.0|
+--------------------+-----+
only showing top 20 rows

In [14]:

df = df.filter(df.label.isin(2.0,4.0))
df.show()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|This place is alw...|  4.0|
|Sometimes it feel...|  4.0|
|I have eaten at s...|  2.0|
|"Okay, so from wh...|  2.0|
|"While I really e...|  2.0|
|"Came here with m...|  4.0|
|"Our friends got ...|  4.0|
|A little on the p...|  4.0|
|"Went here with m...|  4.0|
|Been here twice n...|  4.0|
|We stopped in her...|  4.0|
|I often stop here...|  4.0|
|Not much here oth...|  4.0|
|I hiked this cany...|  4.0|
|Holy portion size...|  4.0|
|Flavor was actual...|  4.0|
|I don't do ice cr...|  4.0|
|I ate here with a...|  4.0|
|As a vegetarian, ...|  2.0|
|"The only downsid...|  4.0|
+--------------------+-----+
only showing top 20 rows

In [15]:
df = df.limit(1000)
df.show()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|This place is alw...|  4.0|
|Sometimes it feel...|  4.0|
|I have eaten at s...|  2.0|
|"Okay, so from wh...|  2.0|
|"While I really e...|  2.0|
|"Came here with m...|  4.0|
|"Our friends got ...|  4.0|
|A little on the p...|  4.0|
|"Went here with m...|  4.0|
|Been here twice n...|  4.0|
|We stopped in her...|  4.0|
|I often stop here...|  4.0|
|Not much here oth...|  4.0|
|I hiked this cany...|  4.0|
|Holy portion size...|  4.0|
|Flavor was actual...|  4.0|
|I don't do ice cr...|  4.0|
|I ate here with a...|  4.0|
|As a vegetarian, ...|  2.0|
|"The only downsid...|  4.0|
+--------------------+-----+
only showing top 20 rows

In [16]:
#2 ML pipeline
tokenizer = Tokenizer(inputCol = "text", outputCol = "words") 
TF = HashingTF(inputCol = tokenizer.getOutputCol(), outputCol = "tfFeatures")
idf = IDF(inputCol = "tfFeatures",outputCol = "features")
lr = LogisticRegression(maxIter = 10, regParam = 0.001)

In [17]:
pipeline = Pipeline(stages = [tokenizer,TF,idf,lr])
model = pipeline.fit(df)

In [18]:

#3. Test data set, unlabeled (id, text)
test = spark.createDataFrame([
     (4, "Worst restaurant ever"),
     (5, "This restaurant is absolutely the best"),
     (6, "best hotel ever"),
     (7, "I love this hotel")
     ],["id","text"])

In [19]:

#4. Make Prediction
prediction = model.transform(test)

selected = prediction.select("id","text","probability","prediction")
for row in selected.collect():
    id, text, prob, pred = row
    print("(%d, %s) --> prediction = %f probability =%s" %(id, text, pred, prob))

(4, Worst restaurant ever) --> prediction = 2.000000 probability =[0.0011268009173979953,0.0011268009173979953,0.49915003742199504,0.0011268009173979953,0.4974695598258109]
(5, This restaurant is absolutely the best) --> prediction = 4.000000 probability =[0.0006235246950701271,0.0006235246950701271,0.08555191769563698,0.0006235246950701271,0.9125775082191526]
(6, best hotel ever) --> prediction = 4.000000 probability =[0.0008863673087221466,0.0008863673087221466,0.1819838549889905,0.0008863673087221466,0.815357043084843]
(7, I love this hotel) --> prediction = 4.000000 probability =[0.0007918249925373259,0.0007918249925373259,0.13696054669456556,0.0007918249925373259,0.8606639783278225]

In [20]:
prediction

DataFrame[id: bigint, text: string, words: array<string>, tfFeatures: vector, features: vector, rawPrediction: vector, probability: vector, prediction: double]

In [23]:
from sklearn import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [78]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

# UDF for converting column type from vector to double type
unlist = udf(lambda x: list(x)[0])

# Iterating over columns to be scaled
for i in ["checkins"]:
    # VectorAssembler Transformation - Converting column to vector type
    assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

    # MinMaxScaler Transformation
    scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

    # Pipeline of VectorAssembler and MinMaxScaler
    pipeline = Pipeline(stages=[assembler, scaler])

    # Fitting pipeline on dataframe
    df1 = pipeline.fit(df1).transform(df1).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")
    print(i)

print("After Scaling :")

checkins
After Scaling :

In [81]:
#df1= df1["checkins"].cast("double")
df1 = df1.withColumn("checkins", df1["checkins"].cast("double"))

In [82]:
df1.show()

+--------------------+-------+-----+--------+
|         business_id|weekday| hour|checkins|
+--------------------+-------+-----+--------+
|3Mc-LxcqeguOXOVT_...|    Tue| 0:00|    12.0|
|SVFx6_epO22bZTZnK...|    Wed| 0:00|     4.0|
|vW9aLivd4-IorAfSt...|    Tue|14:00|     1.0|
|tEzxhauTQddACyqdJ...|    Fri|19:00|     1.0|
|CEyZU32P-vtMhgqRC...|    Tue|17:00|     1.0|
|9dn5pee_n2dWQfN57...|    Sun| 3:00|     5.0|
|6Zk5F7fsTr8n2CJTl...|    Wed| 1:00|     4.0|
|OE_IDW5w_W97sBcZv...|    Sat| 1:00|     1.0|
|gy5pr5bFAjOL5rERS...|    Sat|15:00|     1.0|
|r2-eAhGANXlcgQy89...|    Mon|19:00|     1.0|
|wiBxwslJAGDdZ2nmL...|    Mon|16:00|     1.0|
|08jURVR_eDvXq9scd...|    Sat|23:00|     1.0|
|BlWPjh2WuvQSlmYmg...|    Sun| 0:00|     1.0|
|6DO_2jivyxcL6SXGP...|    Wed|23:00|     1.0|
|wrJROwvVKHvdMVIZO...|    Thu|21:00|     3.0|
|uU8up3hGwW9qnzQD1...|    Fri| 0:00|     1.0|
|JHPq9KvMuJaC7CPAT...|    Sun|16:00|     1.0|
|vyzfT3_KzLi8WmInw...|    Thu| 9:00|     1.0|
|E4T0rQBJa0e4HIliB...|    Thu|23:00|     2.0|
|vuvnexwJzb1ydKLac...|    Mon|18:00|     1.0|
+--------------------+-------+-----+--------+
only showing top 20 rows

In [39]:
import pandas as pd

In [40]:
print(pd.to_numeric(df1.checkins, errors='coerce'))

ValueError: Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.

In [46]:
print (pd.to_numeric(df1.checkins, errors='coerce').notnull())
#0     True
#1    False
#2     True
#Name: b, dtype: bool

df1 = df1[pd.to_numeric(df1.checkins, errors='coerce').notnull()]
print (df1)

ValueError: Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.

In [45]:
df1=df1.dropna()